<!--<script type="text/javascript">
  $(document).ready(function () {
    $(".response").hide();
    $('.container').delegate('.show_response', 'click', function () {
      console.log('!!')
      $(".response").toggle();
    });
//    $("#show_response").delegate('click',function () {
//      $("#response").toggle();
//    });
  });
</script>-->

<li>
  <div class="panel panel-default">
    <div class="panel-heading">评论人: <%= comment.user.name %></div>
    <div class="panel-body">

      <div id="parents">
        <% @parent = comment.parent %>
        <% @i = 1 %>
        <% until @parent.nil? %>
            <div class="panel panel-default">
              <div class="panel-heading"> <%= @i %> 楼: <%= @parent.user.name %> </div>
              <div class="panel-body"> <%= @parent.content %></div>
              <div id="time"><%= format_time(@parent.created_at) %></div>
            </div>
            <% @parent = @parent.parent %>
            <% @i += 1 %>
        <% end %>
      </div>

      <p><%= comment.content %></p>
      <div id="time">
        <% if current_user.id == comment.user.id %>
            <span><%= link_to '删除', comment, remote: true, method: :delete,
                                        data: { confirm: '确定删除评论?' } %></span>
        <% end %>

        <button class="show_response">回复</button>

        <span><%= format_time(comment.created_at) %></span>

        <div class="response">
          <% @comment = Comment.new %>
          <%= form_for(@comment, remote: true) do |f| %>
              <%= f.text_area :content %>
              <%= f.hidden_field :post_id, value: comment.post.id %>
              <%= f.hidden_field :parent_id, value: comment.id %>
              <div><%= f.submit '回复' %></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</li>