<script type="text/javascript">
  $(document).ready(function () {
    $("#comment").hide();
    $("#show_comment").click(function () {
      $("#comment").toggle();
    });

   /* $(".response").hide();
    $('.container').delegate('.show_response','click',function () {
      console.log('!!')
      $(".response").toggle();
    });*/

  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">发帖人: <%= @post.user.name %></div>
  <div class="panel-body">
    <p><%= @post.content %></p>

    <div id="time">
      <button id="show_comment">评论</button>
      <span><%= format_time(@post.created_at) %></span>
    </div>

    <div id="comment">
      <div class="center">
        <%= form_for(@comment, remote: true) do |f| %>
            <%= f.text_area :content, placeholder: '写评论' %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <div><%= f.submit '评论' %></div>
        <% end %>
      </div>

      <div>
        <ul class="list-group" id="comments">
          <% if @post.comments.any? %>
              <%= render @post.comments %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
